services:
  libero:
    container_name: libero_container
    image: ${IMAGE:-libero:latest}
    build:
      context: ..
      dockerfile: docker/Dockerfile
    network_mode: host
    volumes:
      - ../:/workspace
    working_dir: /workspace
    stdin_open: true
    tty: true
    environment:
      - GPU=${GPU:-all}
    command: tail -f /dev/null
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
